.display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    isolation: isolate;
}

.cell {
    width: 4rem;
    font-size: 1.5rem;
    aspect-ratio: 1;
    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 200ms ease;
}

/* Animations */

@keyframes swapLeft {
    to {
        translate: calc(-100% - 4px) 0;
    }
}

@keyframes swapRight {
    to {
        translate: calc(100% + 4px) 0;
    }
}

/* Special states */

:where(.index, .nonSwap, .swapGreater, .swapSmaller) {
    border-color: gray;
    z-index: 10;
}

.index {
    outline: 2px solid violet;
}

.nonSwap {
    outline: 2px solid yellow;
    background-color: lightyellow;
}

.swapGreater {
    outline: 2px solid green;
    background-color: lightgreen;
    animation: swapRight 500ms ease-in-out 0ms 1 normal forwards;
}

.swapSmaller {
    outline: 2px solid red;
    background-color: lightcoral;
    animation: swapLeft 500ms ease-in-out 0ms 1 normal forwards;
}

.sorted {
    border-color: yellowgreen;
    background-color: lightgreen;
}
