.display {
    margin: 1em auto;
    max-width: 40rem;
    text-align: left;
    padding: 0.25rem;
    border: 1px solid #000;
    counter-set: lines;
}

.line {
    counter-increment: lines;
    tab-size: 1em;
    margin: 0;
    background-color: aliceblue;
    text-wrap: wrap;
    max-width: 100%;
    font-size: calc(0.5vw + 0.5em);
}

.line::before {
    display: inline-block;
    text-align: right;
    content: counter(lines) ":";
    width: 1.75em;
    padding-right: 0.25em;
    margin-right: 0.25em;
    background-color: lightsteelblue;
}

.pointer {
    background-color: lightsalmon;
}

.pointer::before {
    background-color: lightpink;
}
